<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="{{ url_for('static', path='/javascript.js') }}"></script>
    <script></script>
    <title>{{page_title}}</title>
</head>
<body>
    <header><h1>Page header</h1></header>
    <nav>
        <a href="{{request.base_url}}get_form_video_list">List Videos</a>
        <a href="{{request.base_url}}get_form_video_add">Add a Video</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>footer</footer>
</body>
</html>
